
.question {
  margin-top: 120px;
  word-wrap:break-word;
}
.bo {
  text-align: center;
  justify-content: center;
}
.btn-local {
  margin-top: 10px;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-width: 1px;
  border-color: #999;
  font-size: 20;
  font-weight: 300;
  margin-right: 10px;
}
.line{
  background-color: #273c75;
  width: 0.3em;
  height: 1.5em;
  margin-left: 0.725em;
  margin-top: -0.01em;
  margin-bottom: -0.1em;
  z-index: -100;
}
.ball {

  text-align: center;
  background-color: #273c75;
  width: 1.75em;
  height: 1.75em;
  border-radius: 0.875em;
  z-index: 100;
  box-shadow: 1px 1px 30px #bbb;
  color: #fff;
}
.done {
  background-color: #10ac84;
  box-shadow: 1px 1px 30px #1dd1a1;
}
.timeline {
    position: fixed;
    top: 100px;
    left: 20px;

}
.q-c {
    font-size: 18;
}
.btn-back {
    border-width: 1px;
    border-color: #ccc;
    margin-top: 10px;
    color: #000;
    font-size: 19;
    font-weight: 200;
}