
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}

body,html {
  margin: 0;
  padding: 0;
  color: #444452;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro',sans-serif;
  line-height: 1.5;
  width: 100%
}
body {
    background-color: #fff;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0
}
a {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-decoration: none;
  font-weight: 200;
}
@keyframes poop-dance {
  from, 49% { transform-origin: -50% 100%; }
  50%, 75%, to { transform-origin: 150% 100%; }
  25% { transform: rotate(-10deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(10deg); }
}

.icon-local {
    height: 100px;
    width: 100px;
    background-color: #F0F4F8;
    border-radius: 50px;
    box-shadow: 0px 0px 30px #F0F4F8;
    margin-top: 160px;
}

.pic-local {
    height: 90px;
    width: 90px;
    margin-top: -5px;
    margin-bottom: -5px;
}
.c {
  position: absolute;
    background-color: #fff;
    text-align: center;

}
.nav-local-h {
  background-color:#FFFFFF;
  position: fixed;
  left:0;
  right:0;
  top:-100px;
  z-index: 10;

}
.nav-local-h {
  box-shadow: 1px 10px 15px #eee;
  background-color:#FFFFFF;
  margin-top:100px;
}
.h1-local {
  font-size: 32px;
  font-weight: 400;
  color: #666;
  margin-top: 10px;
}
.line-comment {
  height: 0.5px;
  background-color: #ccc;
  margin-top: 30px;
  box-shadow: 1px 3px 3px #eee;
  margin-left: 30px;
  margin-right: 30px;
}
.c-local {
  
  bottom: 0;
  top: 80px;
  right:0;
  bottom: 0;
  box-shadow: 1px 1px 30px #ccc;
  border-top-left-radius: 20px;
}
.bkg {
    background-color: #fff;
    position: absolute;
    z-index:-1000;
}
.ma {
    position: fixed;
    top: 80px;
    margin-left: 20px;
}
.title {
    color: #0c2461;
}

.content {
  margin-right: 40px;
  margin-top: 20px;
  margin-left: 40px;
}

.card-local {
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.comment {
  z-index: 10000;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 30%;
  box-shadow: -10px 0px 20px 0px #eee;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: hidden;
}

.cross {
  margin-top: 20px;
  margin-left: 20px;
}

.btn-start-comment {
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
}

.comment-input {
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;

}
.send-btn {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10%;
}
.comment-ball {
  height: 70px;
  width: 70px;
  border-radius: 35px;
  text-align: center;
  background: linear-gradient(#55edc4, #00b894);
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}
.comment-icon {
  margin-top: 17.5px;
  font-size: 35px;
  color: #fff;
}
.click {
  cursor: hand;
}