.msgBox {

  margin: 20px;

}

.msgLine {
  border-style: solid;
  border-width: 0.1px;
  border-radius: 10px;
  border-color: #888;
  box-shadow: 0px 0px 30px #ddd;
  margin-bottom: 10px;
}

.msg-text {
  margin: 20px;
}

.read {
  color: #999;
}
.replies {
  font-style: italic;
}
.msg-head {
  font-size: 23px;
  margin: 0px;
}

.read-all-btn {
  border-radius: 0px;
}